.index-list .list-detail .list-right .filter-search {
  margin: 0 0 20px 0;
}
.index-list .list-detail .list-right .filter-search .filter-content {
  width: 100%;
  overflow: hidden;
}
.index-list .list-detail .list-right .filter-search .filter-content .filter-item {
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 26px;
  line-height: 26px;
  margin-top: 10px;
}
.index-list .list-detail .list-right .filter-search .filter-content .filter-item span {
  display: inline-block;
  text-align: center;
  height: 26px;
  line-height: 26px;
}
.index-list .list-detail .list-right .filter-search .filter-content .filter-item input[type="text"] {
  display: inline-block;
  width: 200px;
  height: 26px;
  line-height: 26px;
  box-sizing: border-box;
  padding-left: 5px;
  border: 1px solid #CCCCCC;
}
.index-list .list-detail .list-right .filter-search .filter-content button {
  padding: 4px 16px;
  background: #1296D6;
  color: #FFFFFF;
  border: none;
  text-align: center;
  cursor: pointer;
  margin: 10px 0 0 10px;
}
